{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About us
      <small></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-dark " href="{% url 'home' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">About us</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'mainapp/img/about.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Немножко об осминожке</h2>
        <p>Мы, маленькая группка рабов-студентов, день за днём превращаем свои руки в щупальца, а мозг в кашицу</p>
        <p>Мы верим в то, что нас ждёт успех. Однако с таким успехом помрём мы быстрее....</p>
        <p>Мы мечаем найти работу... Спасите наши бренные души......</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'mainapp/img/vadzim.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Ilyukevich Vadzim</h4>
            <h6 class="card-subtitle mb-2 text-muted">Anchor</h6>
            <p class="card-text">The stubborn anchor of our team. Dragging anywhere, but not up.</p>
          </div>
          <div class="card-footer bg-dark ">
            <a href="#" class="text-warning">mr.vadikru99@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'mainapp/img/dasha.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Volchek Darya</h4>
            <h6 class="card-subtitle mb-2 text-muted">Animal</h6>
            <p class="card-text">The mascot of our team, sometimes it can bark.....</p>
          </div>
          <div class="card-footer bg-dark ">
            <a href="#" class="text-warning">volchek@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'mainapp/img/pig.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Coin Pig</h4>
            <h6 class="card-subtitle mb-2 text-muted">Sponsor</h6>
            <p class="card-text">We have with the rest of the team, just like this pig with coins.
              We are looking, we are looking, but they are still not there ...</p>
          </div>
          <div class="card-footer bg-dark ">
            <a href="#" class="text-warning">fanatkarepa@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock content %}
