  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Happy cactus</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All sorts of thorns
            </a>
              <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item text-warning" href="{% url 'cactus' %}">Cactus</a>
              <a class="dropdown-item text-warning" href="{% url 'succulent' %}">Succulent</a>
            </div>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About us</a>
                          <li class="nav-item">
                <a class="nav-link" href="{% url 'sign_in' %}">Sign in</a>
                          <li class="nav-item">
                <a class="nav-link" href="user_pot"></a>
<!--            {% if user.is_authenticated %}-->

<!--            {% else %}-->

<!--            {% endif %}-->

          </li>
        </ul>
      </div>
    </div>
  </nav>